Package: com.entynetproject.msub
Name: Mouse Substrate
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Mouse Substrate (MPL Substrate)
Maintainer: Entynetproject
Author: Entynetproject
Section: System
