Package: com.entynetproject.mouse
Name: mousePRO
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: mouse/MPL
Maintainer: Entynetproject
Author: Entynetproject
Section: Tweaks
