Package: com.entynetproject.mouse
Name: Mouse iOS
Depends: 
Version: 1.6
Architecture: iphoneos-arm
Description: mouse/MPL iOS
Maintainer: Entynetproject
Author: Entynetproject
Section: System
Tag: role::hacker
